/* @font-face {
  font-family: "Montserrat";
  src: url(../../public/Fonts/Montserrat-VariableFont_wght.woff2);
} */
/* body {
  font-family: Gantari, sans-serif;
} */
html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff22;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff60;
}

#ar-button {
  display: none;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffffff96;
}

.myDiv::-webkit-scrollbar {
  display: none;
}

.myDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#slide {
  width: 100%;
  height: 100%;
  right: -500px;
  background: #ffffff;
  position: absolute;
  transition: all 0.35s linear;
  top: 0;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/* floating label */
.floating-faster {
  animation-name: floating;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating {
  animation-name: floating;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.parallax2 {
  /* The image used */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;

  /* TODO remove bg-position*/
}
.parallax3 {
  /* The image used */
  background-image: url("https://d3cv7syas17klq.cloudfront.net/miscellaneous/clay.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}
.parallax4 {
  /* The image used */
  background-image: url("https://d3cv7syas17klq.cloudfront.net/miscellaneous/allmap.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}
.parallax5 {
  /* The image used */
  background-image: url("https://d3cv7syas17klq.cloudfront.net/miscellaneous/BEAUTY.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}

div.thumbnail_container {
  width: 434px;
  height: 244px;
  overflow: hidden;
  background-color: #000;
}

img.thumbnail {
  margin-top: -50px;
  opacity: 0.5;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #87ceeb;
}

.fa-sun {
  color: #fdd835;
}

.blob-gradient {
  fill: url(#radial-gradient) rgb(0, 0, 0);
}

/* .splide__slide {
  height: auto;
  padding: 10px;
} */
/* LOADER ANIMATION */
.loader-15 {
  background: currentcolor;
  color: #f6fafe;
  position: relative;
  animation: loader-15 1s ease-in-out infinite;
  animation-delay: 0.4s;
  width: 1.25em;
  height: 2.5em;
  margin: -0.5em -0.5em;
}

.loader-15::after {
  content: "";
  left: 3em;
  margin: -0em -0.5em;
  animation-delay: 0.6s;
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  animation: inherit;
}

.loader-15::before {
  content: "";
  right: 3em;
  animation-delay: 0.2s;
  margin: 0.5em -0, 5em;
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  animation: inherit;
}

.blog-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes loader-15 {
  0%,
  100% {
    box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
  }
  50% {
    box-shadow: 0 -0.5em 0 currentcolor, 0 0.5em 0 currentcolor;
  }
}

/* ******************* */

/* OSANO Cookie Consent */
.osano-cm-widget {
  background-image: url("https://d3cv7syas17klq.cloudfront.net/miscellaneous/cookie.svg");
  background-size: contain;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.9;
  transition-property: opacity, visibility, transform;
}
.osano-cm-widget svg {
  display: none;
}
.osano-cm-widget:focus,
.osano-cm-widget:hover {
  opacity: 1;
  transform: none;
}
.osano-cm-widget:active {
  transform: translateY(1px);
}
/* ***************** */
@keyframes jiggle {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.blob {
  animation: jiggle 2s infinite linear;
}

/** Stats Circle **/

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* .splide__slide:not(:last-child) {
  margin-right: 1.25rem;
  margin-bottom: 0rem;
}    

@media (min-width: 720px) {
  .splide__slide:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }    
} */

.leaflet-top,
.leaflet-bottom,
.leaflet-control,
.leaflet-pane {
  z-index: 0;
}
.leaflet-layer,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-left {
  right: 0;
  left: auto;
}
.splide__pagination {
  top: 48px;
  bottom: auto;
  height: fit-content;
  width: fit-content;
}
.splide {
  height: 100%;
}

/** Stats Circle **/

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* .splide__slide:not(:last-child) {
  margin-right: 1.25rem;
  margin-bottom: 0rem;
}    

@media (min-width: 720px) {
  .splide__slide:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }    
} */

.leaflet-top,
.leaflet-bottom,
.leaflet-control,
.leaflet-pane {
  z-index: 0;
}
.leaflet-layer,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-left {
  right: 0;
  left: auto;
}
.splide__pagination {
  top: 48px;
  bottom: auto;
  height: fit-content;
  width: fit-content;
}
.splide {
  height: 100%;
}
.quick-example {
  display: grid;
  grid-template-rows: 0fr;
}
.quick-example > div {
  overflow: hidden;
}
