node_modules
.cache
**/build/**
package-lock.json
.vscode
app/styles/app.css
.env.local
.env.development
.env.production
.env.uat
.env*
**/.env*
!**/.env.example
public/temp/*
public/temp_icons/*
.history
ikarus3d_sitemap.xml
deployment.bat