SITE_URL= # domain of the website
PORT= # Port at which website should run
NODE_ENV= # Node env. Normally defined at build time. Mentioning here for sake of completeness. This is defined in package.json
GET_IN_TOUCH_API= # API endpoint at which contact us form will send data
NEWSLETTER_API= # API endpoint at which get in newsletter form will send data
BLOG_API= # API endpoint from where we can fetch blog data 
BLOG_URL= # Blog's url
SITE_KEY= # This is the SITE KEY provided by reCaptcha